body {
	background-color: white;
	margin: 0;
}

.header-style {
	background-color: black;
	padding: 20px;
}

.asd-description .asd-title{
	text-align: center;
	font-family: Calibri;
	background-image: url('../media/img/team-image.jpg');
	color: gold;
	background-size: cover;
	height: 270px;
}
.asd-description .asd-title h1{
	font-size: 60px;
	line-height: 170px;
	margin: 0;
}

.footer-style{
	background-color: black;
	padding: 20px;
	
}

.footer-style h6{
	color: gold;
	text-align: center;
	font-family: Calibri;
	font-size: 12px;
}